/* ======================================================================================= Modules */

/* :only-child (CSS selector) FF3+ SA3.1+ OP9.5+ CH2+ */
body.Candy div.Box ul.PanelInfo li > a {
	float: none;
}

.BoxSections ul.PanelInfo li {
	text-align: left;
}
.BoxSections ul.PanelInfo li > a:only-child {
	float: none;
}

/*.BoxSections li.Depth1 { padding-left: 0px; }*/
.BoxSections li.Depth2 { padding-left: 8px; }
.BoxSections li.Depth3 { padding-left: 16px; }
.BoxSections li.Depth4 { padding-left: 24px; }
.BoxSections li.Depth5 { padding-left: 32px; }
.BoxSections li.Depth6 { padding-left: 40px; }
.BoxSections li.Depth7 { padding-left: 48px; }
.BoxSections li.Depth8 { padding-left: 56px; }
.BoxSections li.Depth9 { padding-left: 64px; }

.BoxSections li > a:before {
	content: "↳";
	margin-right: 3px;
}


/* ======================================================================================= BreadCrumbs */
#BreadCrumbs { text-align: left; }
#BreadCrumbs ul { display: inline-block; }
#BreadCrumbs li { display: inline-block; }
/* IE<8 hacks */
* html #BreadCrumbs ul { display: inline !important; }
* html #BreadCrumbs li { display: inline !important; }
*+html #BreadCrumbs ul { display: inline !important; }
*+html #BreadCrumbs li { display: inline !important; }

#BreadCrumbs ul li.Crumb:before,
#BreadCrumbs ul li.LastCrumb:before {
	content: "»";
	margin-right: 5px;
}


/* ======================================================================================= Misc */
body.Candy td.Options a {
	text-transform: lowercase;
}

body.Candy td.Options a:not(:last-child):after {
	content: ",";
}

body.Candy td.Options a + a {
	margin-left: 4px;
}

ol.Tree {
	padding: 0 10px;	
}

ol.Tree li ul {
	padding-left: 20px;
}

/* Dont pad for first depth items */
ol.Tree > li > ul {
	list-style-type: none;
	padding-left: 0;
}

ol.Tree ul li > div.Hovered {
	background: #f5f5f5;
}

ol.Tree li span.Options {
	float: right;
	font-size: 90%;
}

ol.Tree ul ul { list-style-type: circle; }
ol.Tree ul ul ul { list-style-type: square; }
ol.Tree ul ul ul ul { list-style-type: circle; }
ol.Tree ul ul ul ul ul { list-style-type: disc; }
ol.Tree ul ul ul ul ul ul { list-style-type: circle; }

#ContentMap ol.Tree > li > ul {
	list-style-type: disc;
}

#ContentMap ol.Tree li ul {
	padding-left: 50px;
}


/* ====================================================================== Static page */

form ul.EditForm li label + input[type="checkbox"] {
    vertical-align: middle;
	min-height: 19px;
}

body.Candy .CodeBox {
	height: 300px;
	width: 100%;
	font-size: 12px;
	font-family: "Courier New";
}

body.Candy .EditForm > li {
	margin-bottom: 5px;
}

body.Candy input#Form_Title {
	width:100%;
}

ul.EditForm li label {
	display: block;
	float: left;
	/*width: 150px;*/
	width: 15%;
	min-width: 150px;
	white-space: nowrap;
	overflow: hidden;
}

ul.EditForm li label + input.InputBox {
	min-width: 250px;
	width: 82%;
}

ul.EditForm li span.Buttons {
	display: block;
	margin: 0 0 2px;
}

ul.EditForm li span.Buttons a + a {
	margin-left: 10px;
}

a.TabToggleButton.Active {
	background: LightSeaGreen;
	color: #fff;
	margin: 0 0 0 5px;
	padding: 0 5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

a.TabToggleButton.Active:first-child {
	margin: 0 0 0 0px;
}

#Mask_Form input.MaskValue {
	width: 50px;
	margin-right: 8px;
}

#Mask_Form a.AddDescription {
	margin-left: 5px;
}


/* =========================================================== Inline Edit - Plugin for jQuery */
.editable-wrap input[type=text],
.editable-wrap textarea {
	padding: 0.2em;
	width: 99%;
}
.editable-hover { background: rgb(255, 255, 238); }
.editable-save, .editable-cancel {
	margin-bottom: 5px;	
}
/* Increasing CSS specificity by addding #ID to overtake style from style.css */
#Frame .editable-save, 
#Frame .editable-cancel { 
	text-transform: capitalize;
	margin-left: 10px;
}

